<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Minelux</h3>
                    <p>
                        Douala <br>
                        Reu 1745<br>
                        Cameroun<br><br>
                        <strong>Phone:</strong> +237 677 530 388<br>
                        <strong>Email:</strong> info@minelux.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Lins Utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/nouveaux">Nouveaux</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Contact</a></li>
                        <!--<li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Privacy policy</a></li>-->
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>autres Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Developpeur Web</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Maintenance Informatiques</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Electricités</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Plombleries</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Rejoignez notre newsletter</h4>
                    <p>Recevez nos offres de services mensuelles</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Abonner">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Minelux 2023</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
                Designed by <a routerLink="/">BootstrapMade</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a routerLink="/" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a routerLink="/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a routerLink="/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a routerLink="/" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a routerLink="/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->