<!-- Main -->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Nouveaux</h2>
                <ol>
                    <li><a href="index.html">Accueil</a></li>
                    <li>Nouveaux</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Nouveaux</h2>
                        <p>Nous recevons tous les techniciens qualifies dans leurs domaines respectifs </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>Mdoumbe Charles</h4>
                                    <p><span>Plomblie</span>pour tout vos problemes de plombleries; je suis disponible</p>
                                    <div class="text-center">
                                        <a routerLink="/detail" class="btn btn-outline-danger">Contactez-Moi <i
                                                class="bx bx-chevron-right"></i></a>
                                    </div>
                                    <div class="social">
                                        <a routerLink="/detail" ><i class="ri-twitter-fill"></i></a>
                                        <a routerLink="/detail" ><i class="ri-facebook-fill"></i></a>
                                        <a routerLink="/detail" ><i class="ri-instagram-fill"></i></a>
                                        <a routerLink="/detail" > <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-0">
                            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                                <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>KAMGA Alexis</h4>
                                    <span>Electricien</span>
                                    <p>Expert en mecaniques automobiles, specialise des marques TOYOTA</p>
                                    <div class="text-center">
                                        <a routerLink="/detail"  class="btn btn-outline-danger">Contactez-Moi <i
                                                class="bx bx-chevron-right"></i></a>
                                    </div>
                                    <div class="social">
                                        <a routerLink="/detail" ><i class="ri-twitter-fill"></i></a>
                                        <a routerLink="/detail"><i class="ri-facebook-fill"></i></a>
                                        <a routerLink="/detail"><i class="ri-instagram-fill"></i></a>
                                        <a routerLink="/detail"> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>ABESSOLO JEAN</h4>
                                    <span>Menusier</span>
                                    <p>Tout problemes de climatisation je suis disponible</p>
                                    <div class="text-center">
                                        <a routerLink="/detail" class="btn btn-outline-danger">Contactez-Moi <i
                                                class="bx bx-chevron-right"></i></a>
                                    </div>
                                    <div class="social">
                                        <a routerLink="/detail"><i class="ri-twitter-fill"></i></a>
                                        <a routerLink="/detail"><i class="ri-facebook-fill"></i></a>
                                        <a routerLink="/detail"><i class="ri-instagram-fill"></i></a>
                                        <a routerLink="/detail"> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="400">
                                <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>NGOUE Richard</h4>
                                    <span>Mécanicien</span>
                                    <p>Situe au centre ville, laissez moi juste un Message Whatsapp</p>
                                    <div class="text-center">
                                        <a routerLink="/detail" class="btn btn-outline-danger">Contactez-Moi <i
                                                class="bx bx-chevron-right"></i></a>
                                    </div>
                                    <div class="social">
                                        <a routerLink="/detail"><i class="ri-twitter-fill"></i></a>
                                        <a routerLink="/detail"><i class="ri-facebook-fill"></i></a>
                                        <a routerLink="/detail"><i class="ri-instagram-fill"></i></a>
                                        <a routerLink="/detail"> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Team Section -->

</main>
<!-- End #main -->